{% extends "base.html" %}

{% block body_block %}
<style type="text/css">
  .box{
    position: absolute;
    top: 30%;
    left: 45%;
    width: 818px;
    height: 120px;
    margin-left: -320px;
    margin-top: 50px;
    font-size: 30px;
    color: gray;
  }
</style>
  <div class="box">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h2 class="display-5">Sistema de identificación de eventos síndrome de WEST</h2>
      </div>
    </div>
  <div>
  <h1></h1>
{% endblock %}
